###############################################################
# Authelia Configuration (rendered by Ansible)
###############################################################

theme: {{ services.authelia.theme }}

# Reset password token signing secret (replaces deprecated jwt_secret)
identity_validation:
  reset_password:
    jwt_secret: {{ services.authelia.jwt_secret }}

server:
  address: 'tcp://0.0.0.0:9091'

log:
  level: info

session:
  secret: {{ services.authelia.session_secret }}
  same_site: lax
  expiration: 1h
  inactivity: 30m
  cookies:
    - name: authelia_session
      domain: ashpex.net
      authelia_url: https://{{ services.authelia.domain }}
      default_redirection_url: {{ services.authelia.default_redirect_url }}

storage:
  encryption_key: {{ services.authelia.storage_encryption_key }}
  local:
    path: /data/db.sqlite3

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id

access_control:
  default_policy: one_factor
  rules:
    - domain: '*.ashpex.net'
      policy: one_factor

notifier:
  filesystem:
    filename: /data/notification.txt


identity_providers:
  oidc:
    enable: true
    issuer: https://{{ services.authelia.domain }}
    jwks:
      - key: file:/config/oidc-jwks.json
    access_token_lifespan: 1h
    authorize_code_lifespan: 1m
    id_token_lifespan: 1h
    
    clients:
      - client_id: '{{ services.authelia.forgejo_client_id }}'
        client_name: 'Forgejo'
        # Hash your secret per the Authelia FAQ and store in vault_authelia_forgejo_client_secret_hash
        client_secret: '{{ services.authelia.forgejo_client_secret_hash }}'
        public: false
        authorization_policy: 'two_factor'
        require_pkce: true
        pkce_challenge_method: 'S256'
        redirect_uris:
          - 'https://{{ services.forgejo.domain }}/user/oauth2/{{ services.authelia.forgejo_auth_name }}/callback'
        scopes:
          - 'openid'
          - 'email'
          - 'profile'
          - 'groups'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'


