services:
  alist:
    image: 'xhofe/alist:latest'
    container_name: alist
    volumes:
      - "{{ services.alist.data_path }}:/opt/alist/data"
      - "{{ root_path }}/archive:/archive"
      - "{{ media_path }}/library:/library"
    ports:
      - "{{ services.alist.port }}:5244"
    environment:
      - PUID={{ user_id }}
      - PGID={{ group_id }}
      - UMASK=022
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    labels:
      # Traefik configuration
      - "traefik.enable=true"
      - "traefik.http.routers.alist.rule=Host(`{{ services.alist.domain }}`)"
      - "traefik.http.routers.alist.entrypoints=websecure"
      - "traefik.http.routers.alist.tls=true"
      - "traefik.http.routers.alist.middlewares=secure-chain@file"
      - "traefik.http.services.alist.loadbalancer.server.port=5244"

networks:
  {{ docker_network }}:
    external: true
