services:
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest
    ports:
      - "{{ services.audiobookshelf.port }}:80"
    volumes:
      - "{{ services.audiobookshelf.data_path }}:/library"
      - "{{ services.audiobookshelf.config_path }}:/config"
      - "{{ services.audiobookshelf.metadata_path }}:/metadata"
    environment:
      - TZ={{ timezone }}
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    labels:
      # Traefik configuration
      - "traefik.enable=true"
      - "traefik.http.routers.audiobookshelf.rule=Host(`{{ services.audiobookshelf.domain }}`)"
      - "traefik.http.routers.audiobookshelf.entrypoints=websecure"
      - "traefik.http.routers.audiobookshelf.tls.certresolver=letsencrypt"
      - "traefik.http.routers.audiobookshelf.middlewares=resilient-chain@file"
      - "traefik.http.services.audiobookshelf.loadbalancer.server.port=80"

networks:
  {{ docker_network }}:
    external: true
