services:
  copyparty:
    image: copyparty/ac:latest
    container_name: copyparty
    user: "{{ user_id }}:{{ group_id }}"
    ports:
      - "{{ services.copyparty.port }}:3923"
    volumes:
      - "{{ services.copyparty.config_path}}:/cfg:z"
      - "{{ services.copyparty.share_path }}:/w:z"
    stop_grace_period: 15s
    healthcheck:
      test: ["CMD-SHELL", "wget --spider -q 127.0.0.1:3923/?reset=/._"]
      interval: 1m
      timeout: 2s
      retries: 5
      start_period: 15s
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    labels:
      # Traefik configuration
      - "traefik.enable=false"
      - "traefik.http.routers.copyparty.rule=Host(`{{ services.copyparty.domain }}`)"
      - "traefik.http.routers.copyparty.entrypoints=websecure"
      - "traefik.http.routers.copyparty.tls.certresolver=letsencrypt"
      - "traefik.http.routers.copyparty.middlewares=secure-chain@file"
      - "traefik.http.services.copyparty.loadbalancer.server.port=3923"

networks:
  {{ docker_network }}:
    external: true
