services:
  glance:
    container_name: glance
    image: glanceapp/glance
    volumes:
      - "{{ services.glance.config_path }}:/app/config"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ services.glance.port }}:8080"
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    labels:
      # Traefik configuration
      - "traefik.enable=true"
      - "traefik.http.routers.glance.rule=Host(`{{ services.glance.domain }}`)"
      - "traefik.http.routers.glance.entrypoints=websecure"
      - "traefik.http.routers.glance.tls.certresolver=letsencrypt"
      - "traefik.http.routers.glance.middlewares=secure-chain@file"
      - "traefik.http.services.glance.loadbalancer.server.port=8080"

networks:
  {{ docker_network }}:
    external: true
