services:
  glance:
    container_name: glance
    image: glanceapp/glance
    volumes:
      - "./config:/app/config"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ services.glance.port }}:8080"
    restart: unless-stopped
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true
