services:
  gotify:
    container_name: gotify
    image: gotify/server
    ports:
      - "{{ services.gotify.port }}:80"
    environment:
      GOTIFY_DEFAULTUSER_PASS: "{{ vault_gotify_password | default('admin') }}"
    volumes:
      - "{{ services.gotify.data_path }}:/app/data"
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    labels:
      # Traefik configuration
      - "traefik.enable=false"
      - "traefik.http.routers.gotify.rule=Host(`{{ services.gotify.domain }}`)"
      - "traefik.http.routers.gotify.entrypoints=websecure"
      - "traefik.http.routers.gotify.middlewares=secure-chain@file"
      - "traefik.http.services.gotify.loadbalancer.server.port=80"

networks:
  {{ docker_network }}:
    external: true
