services:
  owncast:
    container_name: owncast
    image: owncast/owncast:latest
    volumes:
      - "{{ services.owncast.data_path }}:/app/data"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ services.owncast.web_port }}:8080"
      - "{{ services.owncast.rtmp_port }}:1935"
    restart: unless-stopped
    user: "{{ user_id }}:{{ group_id }}"
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true
