services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID={{ user_id }}
      - PGID={{ group_id }}
      - TZ={{ timezone }}
      - WEBUI_PORT={{ services.qbittorrent.web_port }}
      - TORRENTING_PORT={{ services.qbittorrent.torrent_port }}
    volumes:
      - "{{ services.qbittorrent.config_path }}:/config"
      - "{{ services.qbittorrent.downloads_path }}:/downloads"
    ports:
      - "{{ services.qbittorrent.web_port }}:{{ services.qbittorrent.web_port }}"
      - "{{ services.qbittorrent.torrent_port }}:{{ services.qbittorrent.torrent_port }}"
      - "{{ services.qbittorrent.torrent_port }}:{{ services.qbittorrent.torrent_port }}/udp"
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    labels:
      # Traefik configuration
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.rule=Host(`{{ services.qbittorrent.domain }}`)"
      - "traefik.http.routers.qbittorrent.entrypoints=websecure"
      - "traefik.http.routers.qbittorrent.tls.certresolver=letsencrypt"
      - "traefik.http.routers.qbittorrent.middlewares=secure-chain@file"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port={{ services.qbittorrent.web_port }}"

networks:
  {{ docker_network }}:
    external: true
