services:
  watchtower:
    container_name: watchtower
    image: {{ services.watchtower.image }}
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ={{ timezone }}
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 30 12 * * *  # Run daily at 12:30 PM
{% if services.watchtower.port is defined %}
    ports:
       - "{{ services.watchtower.port }}:8080"
{% endif %}
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true
