write-kubeconfig-mode: "0644"
tls-san:
{% for san in k3s_tls_sans %}
  - "{{ san }}"
{% endfor %}
data-dir: "{{ k3s_data_dir }}"
cluster-init: {{ k3s_cluster_init | bool | lower }}
secrets-encryption: true
disable:
{% for component in k3s_disable_components %}
  - {{ component }}
{% endfor %}
node-label:
{% for label in k3s_node_labels %}
  - {{ label }}
{% endfor %}
