#!ipxe

set base-url {{ pxe_install_base_url }}
set client-mac ${net0/mac}

chain ${base-url}/boot/${client-mac}.ipxe || goto menu

:menu
menu Homelab NixOS installer
{% for host in pxe_install_hosts %}
item {{ host }} {{ host }}{% if hostvars[host].pxe_role is defined %} ({{ hostvars[host].pxe_role }}){% endif %}
{% endfor %}
choose selected_host || shell
chain ${base-url}/boot/${selected_host}.ipxe
